img {
    border-style: dotted;
    border-color: red;
}

.test{
    background-color: #425c2a;
    color: #ffcea2;
    font-weight: 1000;
    min-height: 100vh;
    align-items: center;
}

.root{
    background-color: #425c2a;
}