@media only screen and (max-width: 992px) {
  .App-header {
    width: 100%;
  }
  .pages {
    width: min-content;
  }
  .pages tr {
    width: auto;
  }
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 620px) {
  .App-header, .pages {
    width: 100%;
    font-size: calc(10px + 1vmin);
  }
  .labs {
    padding-right: 10px;
  }
  .pages tr {
    width: auto;
  }
  .ton {
    margin: 0pt;
    padding: 0pt;
  }
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #343a40;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(13px + 1vmin);
  color: #ffcea2;
  font-weight: bold;  
}

h2 {
  text-align: center;
  letter-spacing: 2px;
}

.pages {
  margin-left: auto;
  margin-right: auto;
  background-color: #425c5a;
  height: 70vh;
  width: 80%;
  display: flex;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
}

.rig {
  position: absolute;
  color: #ffcea2;
}

table td {
  padding-bottom: 10px;
}

.ton {
  margin: 0pt 7pt;
  padding: 5px 30px;
  border-radius: 10px;
  border: 1pt;
  background-color: #ffcea2;
  color: #425c5a;
}

.pjg{
  padding: 5px 90px;
}

.isian {
  border: 0px;
  border-radius: 2px;
  background-color: rgb(162, 191, 189, 0.5);
  color: #ffcea2;
  padding-left: 10pt;
}

hr {
  color: #ffcea2;
  font-weight: 700;
}

.labs {
  padding-right: 25px;
}